footer.footer 
    div.container
        .footer__wrapper
            a.footer__logo(href="#")
                img(src="@img/logo.svg" alt="Logo")
            ul.footer__list 
                li
                    a.footer__link(href="") Privacy
                li
                    a.footer__link(href="") Terms
                li
                    a.footer__link(href="") Contact Us
            ul.footer__social
                li
                    a.footer__social-link(href="https://discord.com/", target="_blank" rel="noopener")
                        img.footer__dis(src="@img/discord.svg", alt="Discord")
                li
                    a.footer__social-link(href="https://twitter.com/", target="_blank" rel="noopener")
                        img.footer__twit(src="@img/twitter.svg", alt="Twitter")