header.header 
    div.container
        .header__wrapper
            a.header__logo
                img(src="@img/logo.svg" alt="Logo")
            nav.header__menu
                ul.header__list 
                    li
                        a.header__link(href="#") Home
                    li
                        a.header__link(href="#works") How it works
                    li
                        a.header__link(href="#roadmap") Roadmap
                    li
                        a.header__link(href="#news") News
            button.button.header__button Connect wallet
            button.header-burger 
                span.header-burger__line
                span.header-burger__line
                span.header-burger__line