$main-bg: #0D0B0C;
$white: #FFFFFF;
$button-text: #F8F8F8;
$violet: #CC23E4;
$gradient: linear-gradient(85.63deg, #F827DE -9.39%, #2B14F9 114.93%);
$gradient-two: linear-gradient(127.41deg, rgba(218, 37, 226, 0.2) 14.83%, rgba(87, 24, 243, 0.2) 110.24%, rgba(255, 245, 238, 0.2) 110.24%);
$gradient-footer: linear-gradient(127.41deg, rgba(216, 227, 255, 0.2) 11.5%, rgba(255, 245, 238, 0.102) 110.24%, rgba(221, 231, 255, 0) 110.24%);